html {
    background-color: #19191d;
}

.car {
    width: 200px;
    height: 100px;
    background: #7F7F8E;
    border-radius: 50%;

    position: relative;

    animation: linear;
    animation-name: run;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    -webkit-animation: linear;
    -webkit-animation-name: run;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

.wheel-left {
    width: 50px;
    height: 50px;
    background: #83A7C9;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.wheel-right {
    width: 50px;
    height: 50px;
    background: #83A7C9;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

@keyframes run {
    from {
        left: -50%;
    }

    to {
        left: calc(100vw - 250px);
    }
}

@-webkit-keyframes run {
    from {
        left: -50%;
    }

    to {
        left: calc(100vw - 250px);
    }
}